/* YOUR CUSTOM CSS */

.card .card-header .btn-delete {
    position: absolute;
    top: 1.25em;
    right: 1.25em;
}


.card .card-body table .project-state {
    text-align: start;
}

.choose .row .img-payme-click {
    margin: 22px;
    padding: .5rem .75rem;
    border: 1px solid #dee2e6;
}

.choose .row .img-payme-click:hover {
    cursor: pointer;
}

.payme .row .btn_1 {
    padding: 12px 40px;
}
