.box{
    border: 1px #e1e8ed solid;
    background-color:white;
    background: cover;
    
  
}
.gallery{
    margin: 10px 50px;
}
.gallery img{
    transition: 1s;
    padding: 15px;
    width: 150px;
    height: 135px;
}
.gallery img:hover{
    /* filter:grayscale(100%); */
    transform: scale(1.1);

}