.box{
    border: 1px rgb(214, 214, 214) solid;
    background-color:white;
    background: cover;
}
.gallery{
    margin: 10px 50px;
}
.gallery img{
    transition: 1s;
    padding: 15px;
    width: 60px;
    height: 60px;
}
.gallery img:hover{
    filter:grayscale(100%);
    transform: scale(1.1);

}